- resume_link = link_to 'Alexander Makarenko', 'https://s3.amazonaws.com/notetaker-demo/resume.pdf', target: '_blank'

.text-center
  %h2 About
  %h4= "This application was developed by #{ resume_link }".html_safe