.input-group
  %span.input-group-btn
    %span.btn.btn-default.btn-file{ type: 'button'}
      = 'Select…'
      = label_tag :attachments, 'Attach files', class: 'sr-only'
      = file_field_tag 'note[attachments][]', multiple: true
  = text_field_tag 'file-list', nil, readonly: true, class: 'form-control', value: 'No files selected'