:plain
  var $attachment = $("#attachment_#{@attachment.id}");
  var $attachment_siblings = $attachment.siblings();
  var $attachments_list = $('#attachments');

  if ($attachment_siblings.length == 0) {
    $attachments_list.slideUp(200, function() {
      $(this).remove();
    });
  } else {
    $attachment.hide(250, function() {
      $(this).remove();
    });
  }